{
    "sources": [
        { "name": "Test" }
    ],
    "sinks": [
        { "name": "Test" }
    ],
    "features": [
        { "name": "special_sink", "comment": "From _test_sink()" },
        { "name": "special_source", "comment": "From _test_source()" },
        { "name": "add_breadcrumb_to_state", "comment": "From add_breadcrumb_to_state()" }
    ],
    "rules": [
        {
          "name": "Test",
          "sources": ["Test"],
          "sinks": ["Test"],
          "code": 5002,
          "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
        }
    ]
}
