{
  "sources": [
    { "name": "Test" }
  ],
  "sinks": [
    { "name": "Test" },
    { "name": "RemoteCodeExecution"},
    { "name": "SinkB" },
    { "name": "SinkC" },
    { "name": "SinkD" }
  ],
  "features": [
    { "name": "special_source" },
    { "name": "special_sink" }
  ],
  "transforms": [
    {"name": "TransformX"}
  ],
  "rules": [
    {
      "name": "Test",
      "sources": ["Test"],
      "sinks": ["Test", "RemoteCodeExecution", "SinkB", "SinkC"],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "code": 123
    },
    {
      "name": "Test",
      "sources": ["Test"],
      "sinks": ["SinkD"],
      "message_format": "[{$sources}] transformed by [{$transforms}] to [{$sinks}]",
      "transforms": ["TransformX"],
      "code": 124
    }
  ]
}
