{
  "sources": [
    { "name": "Test" }
  ],
  "sinks": [
    { "name": "Test" },
    { "name": "RemoteCodeExecution"},
    { "name": "SinkB" },
    { "name": "SinkC" }
  ],
  "features": [
    { "name": "special_source" },
    { "name": "special_sink" }
  ],
  "rules": [
    {
      "name": "Test",
      "sources": ["Test"],
      "sinks": ["Test", "RemoteCodeExecution", "SinkB", "SinkC"],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "code": 123
    }
  ]
}
