{
    "sources": [
        { "name": "Test" },
        { "name": "Test2" }
    ],
    "sinks": [
        { "name": "Test" }
    ],
    "features": [
        { "name": "special_sink", "comment": "From _test_sink()" },
        { "name": "special_source", "comment": "From _test_source()" }
    ],
    "rules": [
        {
          "name": "Test",
          "sources": ["Test"],
          "sinks": ["Test"],
          "code": 5002,
          "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
        },
        {
          "name": "Test2",
          "sources": ["Test2"],
          "sinks": ["Test"],
          "code": 5003,
          "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
        }
    ],
    "options": {
        "maximum_capture_trace_length": 3
    }
}
