{
  "sources": [
    { "name": "MySource" }
  ],
  "sinks": [
    { "name": "InTest", "comment": "where we test" }
  ],
  "implicit_sinks": {
    "conditional_test": [ "InTest" ]
  },
  "rules": [
    {
      "name": "Source used in conditional",
      "sources": ["MySource"],
      "sinks": ["InTest"],
      "message_format": "[{$sources}] flow into conditional",
      "code": 123
    }
  ]
}
