{
    "sources": [
        { "name": "Test" },
        { "name": "Test2" }
    ],
    "sinks": [
        { "name": "Test" },
        { "name": "SinkKey" },
        { "name": "SinkValue" }
    ],
    "features": [
        { "name": "special_sink", "comment": "From _test_sink()" },
        { "name": "special_source", "comment": "From _test_source()" },
        { "name": "tito_self", "comment": "TITO flowing through self" },
        { "name": "tito_key", "comment": "TITO flowing through a key" },
        { "name": "tito_value", "comment": "TITO flowing through a value" }
    ],
    "rules": [
        {
          "name": "Test",
          "sources": ["Test"],
          "sinks": ["Test"],
          "code": 1001,
          "message_format": "[{$sources}] to [{$sinks}]"
        },
        {
          "name": "SinkKey",
          "sources": ["Test2"],
          "sinks": ["SinkKey"],
          "code": 1002,
          "message_format": "[{$sources}] to [{$sinks}]"
        },
        {
          "name": "SinkValue",
          "sources": ["Test2"],
          "sinks": ["SinkValue"],
          "code": 1003,
          "message_format": "[{$sources}] to [{$sinks}]"
        }
    ]
}
