{
  "sources": [
    { "name": "GlobalSource"}
  ],
  "sinks": [
    { "name": "MutationSink"}
  ],
  "features": [],
  "rules": [
    {
      "name": "CommonMutators",
      "sources": ["GlobalSource"],
      "sinks": ["MutationSink"],
      "code": 1006,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
