{
  "sources": [
    {"name": "TestSource"}
  ],
  "sinks": [
    {"name": "TestSink"}
  ],
  "transforms": [
    {"name": "TransformX"},
    {"name": "TransformY"},
    {"name": "TransformZ"}
  ],
  "rules": [
    {
      "name": "TestSource -> TransformX -> TransformY -> TransformZ -> TestSink",
      "sources": [
        "TestSource"
      ],
      "sinks": [
        "TestSink"
      ],
      "transforms": ["TransformX", "TransformY", "TransformZ"],
      "message_format": "[{$sources}] may reach [{$sinks}]",
      "code": 5999
    }
  ]
}
