{
  "sources": [
    { "name": "IPAddress" },
    { "name": "HTMLPattern" },
    { "name": "GoogleAPIKey" }
  ],
  "sinks": [],
  "implicit_sources": {
    "literal_strings": [
      {
        "regexp": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
        "kind": "IPAddress",
        "comment": "matches a string containing IPv4 addresses."
      },
      {
        "regexp": "^<.*>$",
        "kind": "HTMLPattern",
        "comment": "Might be an HTML pattern."
      },
      {
        "regexp": "AIza[0-9A-Za-z\\-_]{35}",
        "kind": "GoogleAPIKey",
        "comment": "Indicates a string which may be a Google API key."
      }
    ]
  },
  "rules": []
}
