{
  "sources": [
    { "name": "Test" }
  ],
  "sinks": [
    { "name": "Test" }
  ],
  "implicit_sinks": {
    "literal_strings": [
      {
        "regexp": "^<.*>$",
        "kind": "Test",
        "comment": "matches a bracketed string"
      },
      {
        "regexp": ".* FROM",
        "kind": "Test",
        "comment": "matches a SQL statement"
      },
      {
        "regexp": "https://*.",
        "kind": "Test",
        "comment": "matches a url"
      }
    ]
  },
  "rules": [
    {
      "name": "Test rule",
      "code": 1337,
      "sources": ["Test"],
      "sinks": ["Test"],
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
