{
  "sources": [
    {
      "name": "SourceA"
    },
    {
      "name": "SourceB"
    }
  ],
  "sinks": [
    {
      "name": "SinkA"
    },
    {
      "name": "SinkB"
    }
  ],
  "rules": [
    {
      "name": "source A to sink A",
      "sources": [
        "SourceA"
      ],
      "sinks": [
        "SinkA"
      ],
      "code": 1000,
      "message_format": "source A to sink A"
    },
    {
      "name": "source A to sink B",
      "sources": [
        "SourceA"
      ],
      "sinks": [
        "SinkB"
      ],
      "code": 1001,
      "message_format": "source A to sink B"
    },
    {
      "name": "source B to sink A",
      "sources": [
        "SourceB"
      ],
      "sinks": [
        "SinkA"
      ],
      "code": 1002,
      "message_format": "source B to sink A"
    },
    {
      "name": "source B to sink B",
      "sources": [
        "SourceB"
      ],
      "sinks": [
        "SinkB"
      ],
      "code": 1003,
      "message_format": "source B to sink B"
    }
  ]
}
