{
  "sources": [
    { "name": "Test" }
  ],
  "sinks": [
    { "name": "Test" }
  ],
  "rules": [
    {
      "name": "Test rule",
      "code": 1000,
      "sources": ["Test"],
      "sinks": ["Test"],
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ],
  "options": {
    "maximum_tito_depth": 3
  }
}
