{
  "sources": [
    { "name": "Test" },
    { "name": "Test1" }
  ],
  "sinks": [
    { "name": "Test" },
    { "name": "Test1" }
  ],
  "features": [],
  "rules": [
    {
      "name": "Test",
      "sources": ["Test"],
      "sinks": ["Test"],
      "code": 1000,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "Test1",
      "sources": ["Test1"],
      "sinks": ["Test1"],
      "code": 1001,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
