{
  "sources": [
    { "name": "Test" },
    { "name": "Test1" },
    { "name": "SelectIntAndStr" },
    { "name": "SelectAny" },
    { "name": "SelectCallable" },
    { "name": "SelectDict" }
  ],
  "sinks": [
    { "name": "Test" },
    { "name": "Test1" },
    { "name": "SelectIntAndStr" },
    { "name": "SelectAny" },
    { "name": "SelectCallable" },
    { "name": "SelectDict" }
  ],
  "features": [],
  "rules": [
    {
      "name": "Test",
      "sources": ["Test"],
      "sinks": ["Test"],
      "code": 1000,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "Test1",
      "sources": ["Test1"],
      "sinks": ["Test1"],
      "code": 1001,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "SelectIntAndStr",
      "sources": ["SelectIntAndStr"],
      "sinks": ["SelectIntAndStr"],
      "code": 1002,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "SelectDict",
      "sources": ["SelectDict"],
      "sinks": ["SelectDict"],
      "code": 1003,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "SelectAny",
      "sources": ["SelectAny"],
      "sinks": ["SelectAny"],
      "code": 1004,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "SelectCallable",
      "sources": ["SelectCallable"],
      "sinks": ["SelectCallable"],
      "code": 1005,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
