{
  "sources": [
    { "name": "Test" },
    { "name": "SourceA" },
    { "name": "SourceB" },
    { "name": "SourceC" },
    { "name": "SourceD" },
    { "name": "SourceE" }
  ],
  "sinks": [
    { "name": "Test" },
    { "name": "SinkA" },
    { "name": "SinkB" },
    { "name": "SinkC" },
    { "name": "SinkD" }
  ],
  "features": [],
  "rules": [
    {
      "name": "Test",
      "sources": ["Test"],
      "sinks": ["Test"],
      "code": 1000,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "source a to test",
      "sources": ["SourceA"],
      "sinks": ["Test"],
      "code": 1001,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "source b to test",
      "sources": ["SourceB"],
      "sinks": ["Test"],
      "code": 1002,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "source c to test",
      "sources": ["SourceC"],
      "sinks": ["Test"],
      "code": 1003,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "source d to test",
      "sources": ["SourceD"],
      "sinks": ["Test"],
      "code": 1004,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "source e to test",
      "sources": ["SourceE"],
      "sinks": ["Test"],
      "code": 1005,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "test to sink a",
      "sources": ["Test"],
      "sinks": ["SinkA"],
      "code": 1006,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "test to sink b",
      "sources": ["Test"],
      "sinks": ["SinkB"],
      "code": 1007,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "test to sink c",
      "sources": ["Test"],
      "sinks": ["SinkC"],
      "code": 1008,
      "message_format": "[{$sources}] to [{$sinks}]"
    },
    {
      "name": "test to sink d",
      "sources": ["Test"],
      "sinks": ["SinkD"],
      "code": 1009,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
