{
  "sources": [
    { "name": "UserControlled" },
    { "name": "PermissiveContext" },
    { "name": "TestA" },
    { "name": "TestB" },
    { "name": "TestC" },
    { "name": "TestD" },
    { "name": "TestE" }
  ],
  "sinks": [
    { "name": "TestA" },
    { "name": "TestB" }
  ],
  "transforms": [
    {"name": "TransformT"}
  ],
  "combined_source_rules": [
    {
       "name": "Test multi sink rule",
       "code": 4321,
       "message_format": "User controlled and permissive context combine",
       "rule": [
         {
           "sources": [ "UserControlled" ],
           "partial_sink": "UserControlledSink"
         },
         {
           "sources": [ "PermissiveContext" ],
           "partial_sink": "PermissiveContextSink"
         }
       ]
    },
    {
       "name": "Test multi sink rule with multiple sources",
       "code": 4322,
       "message_format": "TestA or TestB and permissive context combine",
       "rule": [
         {
           "sources": [ "TestA", "TestB" ],
           "partial_sink": "ExpectsEitherTestA"
         },
         {
           "sources": [ "PermissiveContext" ],
           "partial_sink": "ExpectsEitherTestB"
         }
       ]
    },
    {
       "name": "Test multi sink rules sharing both partial sink kinds",
       "code": 4323,
       "message_format": "",
       "rule": [
         {
           "sources": [ "TestC" ],
           "partial_sink": "ShareBothSinksLeft"
         },
         {
           "sources": [ "TestD" ],
           "partial_sink": "ShareBothSinksRight"
         }
       ]
    },
    {
       "name": "Test multi sink rules sharing both partial sink kinds",
       "code": 4324,
       "message_format": "",
       "rule": [
         {
           "sources": [ "TestC" ],
           "partial_sink": "ShareBothSinksLeft"
         },
         {
           "sources": [ "TestE" ],
           "partial_sink": "ShareBothSinksRight"
         }
       ]
    }
  ],
  "rules": [
    {"name": "TestA -> TransformT -> TestA",
     "sources": ["TestA"],
     "sinks": ["TestA"],
     "transforms": ["TransformT"],
     "message_format": "[{$sources}] transformed by [{$transforms}] to [{$sinks}]",
     "code": 123
    }
  ]
}
