{
  "sources": [
    { "name": "Test" }
  ],
  "sinks": [
    { "name": "Test" },
    { "name": "Demo" },
    { "name": "GetAttr" }
  ],
  "features": [
    { "name": "a_feature" },
    { "name": "b_feature" },
    { "name": "c_feature" },
    { "name": "d_feature" },
    { "name": "split" }
  ],
  "rules": [
    {
      "name": "Test",
      "sources": ["Test"],
      "sinks": ["Test"],
      "code": 1111,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
