{
  "sources": [
    { "name": "UserControlled" },
    { "name": "StringMayBeSQL" }
  ],
  "implicit_sources": {
    "literal_strings": [
      {
        "regexp": "SELECT.*",
        "kind": "StringMayBeSQL",
        "comment": "matches a SQL statement"
      }
    ]
  },
  "string_combine_rules": [
    {
       "name": "User controlled data flows into potential SQL strings",
       "main_sources": "UserControlled",
       "secondary_sources": "StringMayBeSQL",
       "partial_sink": "UserControlledDataAndStringMayBeSQL",
       "code": 4324,
       "message_format": "User controlled data flows into potential SQL strings"
    }
  ]
}
