{
  "sources": [
    { "name": "UserControlled" },
    { "name": "StringMayBeSQL" }
  ],
  "implicit_sources": {
    "literal_strings": [
      {
        "regexp": "SELECT.*",
        "kind": "StringMayBeSQL",
        "comment": "matches a SQL statement"
      }
    ]
  },
  "string_combine_rules": [
    {
       "name": "User controlled data flows into potential SQL strings",
       "main_sources": "UserControlled",
       "secondary_sources": "StringMayBeSQL",
       "partial_sink": "UserControlledDataAndStringMayBeSQL",
       "code": 4324,
       "message_format": "User controlled data flows into potential SQL strings"
    }
  ],
  "combined_source_rules": [
    {
       "name": "User controlled data is used to construct potential SQL strings",
       "sources": { "ucdata": "UserControlled", "sql": "StringMayBeSQL"},
       "partial_sink": "UserControlledDataAndStringSQL",
       "code": 4323,
       "message_format": "Potential SQL strings together with user controlled data flow into string operations"
    }
  ]
}
