{
  "sources": [
    { "name": "FirstSource" },
    { "name": "SecondSource" }
  ],
  "sinks": [],
  "features": [
    { "name": "special_sink" },
    { "name": "special_source" }
  ],
  "combined_source_rules": [
    {
      "name": "Test multi sink rule",
      "code": 5003,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "filters": {
        "maximum_source_distance": 1,
        "maximum_sink_distance": 1
      },
      "rule": [
        {
          "sources": [ "FirstSource" ],
          "partial_sink": "FirstPartialSink"
        },
        {
          "sources": [ "SecondSource" ],
          "partial_sink": "SecondPartialSink"
        }
      ]
    }
  ]
}
