{
  "sources": [
    { "name": "Test" },
    { "name": "UserControlled" }
  ],
  "sinks": [
    { "name": "Test" },
    { "name": "Demo" }
  ],
  "features": [
    { "name": "a_feature" }
  ],
  "rules": [
    {
      "name": "Test",
      "sources": ["Test", "UserControlled"],
      "sinks": ["Test"],
      "code": 5002,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}
