{
  "sources": [
    {
      "name": "SourceA",
      "kind": "parametric"
    }
  ],
  "sinks": [
    {
      "name": "SinkA",
      "kind": "parametric"
    }
  ],
  "rules": [
    {
      "name": "source A to sink A",
      "sources": [
        "SourceA"
      ],
      "sinks": [
        "SinkA"
      ],
      "code": 1000,
      "message_format": "source A to sink A"
    }
  ],
  "lineage_analysis": true
}
