{
  "sources": [
    {
      "name": "WithSubkind",
      "kind": "parametric"
    },
    {
      "name": "Test"
    }
  ],
  "sinks": [
    {
      "name": "ExpectsSubkind"
    },
    {
      "name": "SinkWithSubkind",
      "kind": "parametric"
    }
  ],
  "rules": [
    {
      "code": 7001,
      "name": "WithSubkind flows to ExpectsSubkind.",
      "sources": ["WithSubkind"],
      "sinks": ["ExpectsSubkind"],
      "message_format": "[{$sources}] flow into expects subkind."
    },
    {
      "code": 7002,
      "name": "Test flows into sink with subkinds.",
      "sources": ["Test"],
      "sinks": ["SinkWithSubkind"],
      "message_format": "[{$sources}] flow into [{$sinks}]."
    }
  ],
  "features": []
}