{
  "sources": [
    {
      "name": "TestA",
      "kind": "parametric"
    },
    {
      "name": "TestB",
      "kind": "parametric"
    }
  ],
  "sinks": [
    {
      "name": "TestA",
      "kind": "parametric"
    },
    {
      "name": "TestB",
      "kind": "parametric"
    }
  ],
  "features": [],
  "rules": [
    {
      "name": "Any source to any sink",
      "sources": [
        "TestA",
        "TestB"
      ],
      "sinks": [
        "TestA",
        "TestB"
      ],
      "code": 1000,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
