{
  "sources": [
    { "name": "TestA" }
  ],
  "sinks": [
    { "name": "TestA" },
    { "name": "TestB" }
  ],
  "features": [],
  "rules": [
    {
      "name": "{A} to {A, B}",
      "sources": [
        "TestA"
      ],
      "sinks": [
        "TestA",
        "TestB"
      ],
      "code": 1000,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
