{
  "sources": [
    { "name": "TestA" },
    { "name": "TestB" },
    { "name": "Test" }
  ],
  "sinks": [
    { "name": "TestA" },
    { "name": "TestB" },
    { "name": "Test" }
  ],
  "features": [],
  "rules": [
    {
      "name": "source A to sink A",
      "sources": [
        "TestA"
      ],
      "sinks": [
        "TestA"
      ],
      "code": 1000,
      "message_format": "source A to sink A"
    },
    {
      "name": "source A to test",
      "sources": [
        "TestA"
      ],
      "sinks": [
        "Test"
      ],
      "code": 1001,
      "message_format": "source A to test"
    },
    {
      "name": "source B to test",
      "sources": [
        "TestB"
      ],
      "sinks": [
        "Test"
      ],
      "code": 1002,
      "message_format": "source B to test"
    },
    {
      "name": "test to sink A",
      "sources": [
        "Test"
      ],
      "sinks": [
        "TestA"
      ],
      "code": 1003,
      "message_format": "test to sink A"
    },
    {
      "name": "test to sink B",
      "sources": [
        "Test"
      ],
      "sinks": [
        "TestB"
      ],
      "code": 1004,
      "message_format": "test to sink B"
    },
    {
      "name": "test to test",
      "sources": [
        "Test"
      ],
      "sinks": [
        "Test"
      ],
      "code": 1005,
      "message_format": "test to test"
    }
  ]
}
