{
  "sources": [
    { "name": "TestA" },
    { "name": "TestB" },
    { "name": "Test" }
  ],
  "sinks": [
    { "name": "TestA" },
    { "name": "TestB" },
    { "name": "Test" }
  ],
  "features": [],
  "rules": [
    {
      "name": "source A to sink A",
      "sources": [
        "TestA"
      ],
      "sinks": [
        "TestA"
      ],
      "code": 1000,
      "message_format": "source A to sink A"
    }
  ]
}
