{
  "sources": [
    { "name": "TestA" },
    { "name": "TestB" },
    { "name": "Test" },
    { "name": "UserControlled" },
    { "name": "Cookies" }
  ],
  "sinks": [
    { "name": "TestA" },
    { "name": "TestB" },
    { "name": "Test" },
    { "name": "SQL" },
    { "name": "RemoteCodeExecution" }
  ],
  "features": [],
  "rules": [
    {
      "name": "Any source to any sink",
      "sources": [
        "TestA",
        "TestB",
        "Test",
        "UserControlled",
        "Cookies"
      ],
      "sinks": [
        "TestA",
        "TestB",
        "Test",
        "SQL",
        "RemoteCodeExecution"
      ],
      "code": 1000,
      "message_format": "[{$sources}] to [{$sinks}]"
    }
  ]
}
