{
  "sources": [
    {"name": "SourceA"},
    {"name": "SourceC"}
  ],
  "sinks": [
    {"name": "SinkB"},
    {"name": "SinkD"}
  ],
  "transforms": [
    {"name": "TransformX"},
    {"name": "TransformY"},
    {"name": "TransformZ"}
  ],
  "rules": [
    {"name": "SourceA -> TransformX -> SinkB",
     "sources": ["SourceA"],
     "sinks": ["SinkB"],
     "transforms": ["TransformX"],
     "message_format": "[{$sources}] transformed by [{$transforms}] to [{$sinks}]",
     "code": 123
    },
    {"name": "SourceA -> TransformY -> TransformZ -> SinkB",
     "sources": ["SourceA"],
     "sinks": ["SinkB"],
     "transforms": ["TransformY", "TransformZ"],
     "message_format": "[{$sources}] transformed by [{$transforms}] to [{$sinks}]",
     "code": 124
    },
    {"name": "SourceC -> SinkD",
     "sources": ["SourceC"],
     "sinks": ["SinkD"],
     "transforms": [],
     "message_format": "[{$sources}] to [{$sinks}]",
     "code": 125
    },
    {"name": "SourceA -> X -> Y -> Y -> Z -> SinkB",
     "sources": ["SourceA"],
     "sinks": ["SinkB"],
     "transforms": ["TransformX", "TransformY", "TransformY", "TransformZ"],
     "message_format": "[{$sources}] transformed by [{$transforms}] to [{$sinks}]",
     "code": 126
    }
  ]
}
