{
  "sources": [
    {"name": "SourceA"}
  ],
  "sinks": [
    {"name": "SinkB"}
  ],
  "transforms": [
    {"name": "TransformX"},
    {"name": "TransformY"},
    {"name": "TransformZ"}
  ],
  "rules": [
    {"name": "SourceA -> TransformX -> SinkB",
     "sources": ["SourceA"],
     "sinks": ["SinkB"],
     "transforms": ["TransformX"],
     "message_format": "[{$sources}] transformed by [{$transforms}] to [{$sinks}]",
     "code": 123
    },
    {"name": "SourceA -> TransformY -> TransformZ -> SinkB",
     "sources": ["SourceA"],
     "sinks": ["SinkB"],
     "transforms": ["TransformY", "TransformZ"],
     "message_format": "[{$sources}] transformed by [{$transforms}] to [{$sinks}]",
     "code": 124
    }
  ]
}
