{
  "sources": [
    { "name": "UserControlled" },
    { "name": "PermissiveContext" }
  ],
  "sinks": [
    { "name": "UserControlledAndVC", "multi_sink_labels": ["id", "vc"] }
  ],
  "combined_source_rules": [
    {
       "name": "Test multi sink rule",
       "sources": { "id": "UserControlled", "vc": "PermissiveContext" },
       "sinks": ["UserControlledAndVC"],
       "code": 4321,
       "message_format": "User controlled and permissive context combine"
    }
  ]
}
