{
  "sources": [
    { "name": "UserControlled" },
    { "name": "PermissiveContext" },
    { "name": "TestA" },
    { "name": "TestB" }
  ],
  "sinks": [
  ],
  "combined_source_rules": [
    {
       "name": "Test multi sink rule",
       "sources": { "id": "UserControlled", "vc": "PermissiveContext" },
       "partial_sink": "UserControlledAndVC",
       "code": 4321,
       "message_format": "User controlled and permissive context combine"
    },
    {
       "name": "Test multi sink rule with multiple sources",
       "sources": { "a": ["TestA", "TestB"], "b": "PermissiveContext" },
       "partial_sink": "ExpectsEitherTest",
       "code": 4322,
       "message_format": "TestA or TestB and permissive context combine"
    }
  ]
}
