{
  "sources": [
    {
      "name": "WithSubkind",
      "kind": "parametric"
    }
  ],
  "sinks": [
    {
      "name": "ExpectsSubkind"
    }
  ],
  "rules": [
    {
      "code": 7001,
      "name": "WithSubkind flows to ExpectsSubkind.",
      "sources": ["WithSubkind"],
      "sinks": ["ExpectsSubkind"],
      "message_format": "[{$sources}] flow into expects subkind."
    }
  ],
  "features": []
}