{
  "sources": [
    {
      "name": "MyTestSource"
    }
  ],
  "sinks": [
    {
      "name": "MyTestSink"
    }
  ],
  "features": [],
  "rules": [
    {
      "name": "My test rule",
      "sources": [
        "MyTestSource"
      ],
      "sinks": [
        "MyTestSink"
      ],
      "message_format": "[{$sources}] may reach [{$sinks}]",
      "code": 5999
    }
  ]
}
