_.DS_Store
__pycache__
/.pyre
yarn-error.log

/_build
/Makefile
/_tags
/hack_parallel/_build
/scripts/dist

website/translated_docs
website/build/
website/yarn.lock
website/yarn-error.log
website/node_modules
website/i18n/*
!website/i18n/en.json
