.DS_Store
__pycache__
.pyre/
venv/
yarn-error.log
.watchmanconfig

_build
.merlin
.ignore
/pyrelib.install
/hack_parallel.install
source/dune
/_tags
/scripts/dist
version.ml

website/translated_docs
website/build/
website/yarn.lock
website/yarn-error.log
website/node_modules
website/i18n/*
!website/i18n/en.json

source/hack_parallel/hack_parallel/utils/get_build_id.c
/.buckd
/buck-out
*.egg-info
.python-version

node_modules/
tools/ide_plugins/pysa-vscode/out
**/package-lock.json
