repos:
- repo: https://github.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
- repo: https://github.com/omnilib/ufmt
  rev: v1.3.0
  hooks:
    - id: ufmt
      additional_dependencies:
        - black == 22.3.0
        - usort == 1.0.2
