repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
- repo: https://github.com/omnilib/ufmt
  rev: v2.8.0
  hooks:
    - id: ufmt
      additional_dependencies:
        - black == 24.8.0
        - usort == 1.0.8
