[Unit]
Description=uWSGI instance to serve sandbox
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/sandbox
Environment="PATH=/home/ubuntu/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PYSA_PLAYGROUND_STUBS=/home/ubuntu/pyre-check/stubs"
Environment="PYSA_PLAYGROUND_TAINT_MODELS=/home/ubuntu/pyre-check/stubs/taint"
ExecStart=/home/ubuntu/venv/bin/uwsgi --ini sandbox.ini

[Install]
WantedBy=multi-user.target
