[Unit]
Description=uWSGI instance to serve sandbox
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/sandbox
Environment="PATH=/home/ubuntu/sandbox/venv/bin"
ExecStart=/home/ubuntu/sandbox/venv/bin/uwsgi --ini sandbox.ini

[Install]
WantedBy=multi-user.target
