name: publish website

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_docs_job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Build the Website
      run: |
        cd documentation/website
        yarn install
        yarn run build
        echo "OUTPUT_TIME=$(date +'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV
    - name: Get output time
      run: echo "The time was ${{ env.OUTPUT_TIME }} (UTC)"
    - name: Deploy
      if: ${{ github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4.7.6
      with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: documentation/website/build # The folder the action should deploy.
