name: pysa

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  pysa:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          sudo apt-get install opam

      - name: Build Pyre (and Pysa)
        run: |
          # We aren't sure why, but `setup.py` is not adding the opam bin
          # directory to the PATH successfully in github CI so we set it
          # manually. TODO(T195374929) Maybe investigate this more?
          export PATH="${HOME}/.opam/pyre-4.14.0/bin:${PATH}"

          ./scripts/setup.sh --local --no-tests

          echo "PYTHONPATH=$GITHUB_WORKSPACE/..:$PYTHONPATH" >> $GITHUB_ENV
          echo "pythonLocation=$GITHUB_WORKSPACE:$pythonLocation" >> $GITHUB_ENV
          echo "PYRE_BINARY=$GITHUB_WORKSPACE/source/_build/default/main.exe" >> $GITHUB_ENV
          echo "PYRE_TYPESHED=$GITHUB_WORKSPACE/stubs/typeshed/typeshed/" >> $GITHUB_ENV

      - name: Run and test pysa output
        run: |
          cd ./documentation/deliberately_vulnerable_flask_app
          . ./setup.sh
          ./run_integration_tests.sh
